FE/node_modules

venv

BE/__pycache__
BE/security.py
BE/node_modules
BE/model_cache

BE/all_search/__pycache__

BS4/__pycache__
BS4/crawling_target.py
BS4/expand_keyword_map.py
BS4/security.py

BS4/issue_data

BE/KR-SBERT-V40K-klueNLI-augSTS