FE/node_modules

BE/venv

BE/__pycache__
BE/security.py
BE/node_modules
BE/model_cache

BE/all_search/__pycache__

BS4/__pycache__
BS4/crawling_target.py
BS4/extract_keyword.py
BS4/security.py

BE/KR-SBERT-V40K-klueNLI-augSTS