FE/node_modules

venv

BE/__pycache__
BE/security.py
BE/node_modules
BE/model_cache

BE/all_search/__pycache__

Crawling/__pycache__
Crawling/crawling_target.py
Crawling/expand_keyword_map.py
Crawling/security.py

Crawling/issue_data

BE/KR-SBERT-V40K-klueNLI-augSTS